@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Poppins:wght@100&display=swap");
.App {
  display: flex;
  justify-content: center;
  background-color: blanchedalmond;
  min-height: 100vh;
}

#container {
  width: 400px;
  background-color: bisque;
  padding: 20px;
  padding-top: 3rem;
}

input {
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.list {
  margin: 15px;
}
.list > li {
  justify-content: space-between;
  font-family: "Bangers", cursive;
  background-color: azure;
  padding: 5px;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  margin-bottom: 2px;
  display: flex;
}
h1 {
  text-align: center;
  font-family: "Bangers", cursive;
  color: rebeccapurple;
}

p {
  font-family: "Bangers", cursive;
}

.btn {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
}
.btn > button {
  padding: 5px;
  border-radius: 5px;
  width: 60px;
  text-align: center;
}
